.row {
    display:  -webkit-box;
    display:  -webkit-flex;
    display:  -ms-flexbox;
    display:  flex;
    -webkit-flex-wrap:  wrap;
    -ms-flex-wrap:  wrap;
    flex-wrap:  wrap;
}
.navbar-collapse ,  .navbar-nav  {
    display:  -webkit-box;
    display:  -webkit-flex;
    display:  -ms-flexbox;
    display:  flex;
    -webkit-flex-wrap:  wrap;
    -ms-flex-wrap:  wrap;
    flex-wrap:  wrap;
}
.navbar {
    display:  -webkit-box;
    display:  -webkit-flex;
    display:  -ms-flexbox;
    display:  flex;
    /* -ms-flex-wrap:  wrap; */
}
.btn , a , img , svg{transition: all 0.4s ease-in-out;}
/* Margins */
.m-t-5{margin-top:5px}.m-t-10{margin-top:10px}.m-t-15{margin-top:15px}.m-t-20{margin-top:20px}.m-t-25{margin-top:25px}.m-t-30{margin-top:30px}.m-t-40{margin-top:40px}
.m-b-5{margin-bottom:5px}.m-b-10{margin-bottom:10px}.m-b-15{margin-bottom:15px}.m-b-20{margin-bottom:20px}.m-b-25{margin-bottom:25px}.m-b-30{margin-bottom:30px}
.m-l-5{margin-left:5px}.m-l-10{margin-left:10px}.m-l-15{margin-left:15px}.m-l-20{margin-left:20px}.m-l-25{margin-left:25px}.m-l-30{margin-left:30px}
.m-r-5{margin-right:5px}.m-r-10{margin-right:10px}.m-r-15{margin-right:15px}.m-r-20{margin-right:20px}.m-r-25{margin-right:25px}.m-r-30{margin-right:30px}
.no-margin {margin:  0px !important;}
.p-t-5 {
    padding-top:  5px;
}
.p-t-10 {
    padding-top:  10px;
}
.p-t-15 {
    padding-top:  15px;
}
.p-t-20 {
    padding-top:  20px;
}
.p-t-25 {
    padding-top:  25px;
}
.p-t-30 {
    padding-top:  30px;
}
.p-t-25 {
    padding-top:  25px;
}
.p-t-30 {
    padding-top:  30px;
}
.p-b-5 {
    padding-bottom:  5px;
}
.p-b-10 {
    padding-bottom:  10px;
}
.p-b-15 {
    padding-bottom:  15px;
}
.p-b-20 {
    padding-bottom:  20px;
}
.p-b-25 {
    padding-bottom:  25px;
}
.p-b-30 {
    padding-bottom:  30px;
}
.p-b-25 {
    padding-bottom:  25px;
}
.p-b-30 {
    padding-bottom: 30px;
}
.p-l-0 {
    padding-left:  0px;
}
.p-l-5 {
    padding-left:  5px;
}
.p-l-10 {
    padding-left:  10px;
}
.p-l-15 {
    padding-left:  15px;
}
.p-l-20 {
    padding-left:  20px;
}
.p-l-25 {
    padding-left:  25px;
}
.p-l-30 {
    padding-left:  30px;
}
.p-l-25 {
    padding-left:  25px;
}
.p-l-30 {
    padding-left: 30px;
}
.p-r-0 {
    padding-right: 0px;
}
.p-r-5 {
    padding-right:  5px;
}
.p-r-10 {
    padding-right:  10px;
}
.p-r-15 {
    padding-right:  15px;
}
.p-r-20 {
    padding-right:  20px;
}
.p-r-25 {
    padding-right:  25px;
}
.p-r-30 {
    padding-right:  30px;
}
.p-r-25 {
    padding-right:  25px;
}
.p-r-30 {
    padding-right: 30px;
}
.no-padding {
    padding:  0px;
}
.sec-padding {
    padding:  30px 0px;
}
.p-15 {
    padding: 15px;
}
.vertical-m {
    vertical-align:  middle;
}
.vertical-t {
    vertical-align:  top;
}
.f-s-30 {
    font-size:  30px;
}
.f-s-25 {
    font-size:  25px;
}
.f-s-20 {
    font-size:  20px;
}
.f-s-17 {
    font-size:  17px;
}
.f-s-18 {
    font-size:  18px;
}
.f-s-15 {
    font-size:  15px;
}
.f-s-14 {
    font-size:  14px;
}
.f-s-13 {
    font-size:  13px;
}
.f-s-12 {
    font-size:  12px;
}
.line-through  {
    text-decoration:  line-through;
}
.fw-600  {
    font-weight:  600;
}
.fw-500  {
    font-weight:  500;
}
.fw-300  {
    font-weight:  300;
}
.fw-400  {
    font-weight:  400;
}
.w-90 {
    width:  90%}
.w-80 {
    width:  80%}
.w-70 {
    width:  70%}
.h-auto  {
    height:  auto;
}
figure{overflow: hidden;}
.border-b-d {
    border-bottom:  dotted 1px #ddd;
}
.border-b-s {
    border-bottom:  solid 1px #ddd;
}
::-webkit-scrollbar  {
    width:  11px;
    height:  11px;
    background: #ccc;
}
/* ::-webkit-scrollbar-track  {
} */
::-webkit-scrollbar-thumb  {
    background:  #323232;
    border-radius:  0px;
}
/* ::-webkit-scrollbar-thumb:hover  {
} */
.scrollToTop {
    width: 50px;
    height: 50px;
    outline:  none;
    position: fixed;
    text-align: center;
    background: rgba(255, 255, 255, 0.9);
    border-radius:  50%;
    border: 1px solid #888;
    ;
    font-weight:  bold;
    color:  #000;
    bottom:  20px;
    right:  20px;
    display: none;
}
.scrollToTop span  {
    color:  #888;
    font-size:  23px;
}
.scrollToTop:hover {
    background-color:  #888;
    outline:  none;
}
.scrollToTop:hover span  {
    color:  #fff;
}
ul {
    list-style:  none;
    margin:  0px;
    padding-right:  0px;
}
img ,  button  {
    transition:  all .35s;
}
button {
    cursor:  pointer;
}
select:focus ,  option:focus  {
    outline:  none;
}
.clearfix  {
    clear:  both;
}
a ,  a:hover  {
    text-decoration:  none;
}
.bold {
    font-weight:  bold;
}
.separator:after {
    content:  "/" }

.side-shadow  {
    box-shadow:  5px 0 15px -4px #7d7d7d,  -5px 0 8px -4px #7d7d7d;
    -webkit-box-shadow:  5px 0 15px -4px #7d7d7d,  -5px 0 8px -4px #7d7d7d;
    -moz-box-shadow:  5px 0 15px -4px #7d7d7d,  -5px 0 8px -4px #7d7d7d;
}
.bottom-shadow  {
    box-shadow:  0px 11px 9px -10px rgba(0,  0,  0,  0.3);
    -webkit-box-shadow: 0px 11px 9px -10px rgba(0,  0,  0,  0.3);
    -moz-box-shadow:  0px 11px 9px -10px rgba(0,  0,  0,  0.3);
    ;
}
.simple-shadow {
    box-shadow:  0 1px 3px rgba(0, 0, 0, 0.08);
    -webkit-box-shadow:  0 1px 3px rgba(0, 0, 0, 0.08);
    -moz-box-shadow:  0 1px 3px rgba(0, 0, 0, 0.08);
}
.text-shadow {
    text-shadow:  0 1px 2px rgba(0, 0, 0, 0.6);
}
li{list-style: none}
/** titles **/
    /** 
        <div class="header-title-line"></div>
        <div class="header-title-for-line"> Title </div> 
    **/

    .header-title-line  {
        bottom:  -18px;
        position:  relative;
        border-top:  1px solid #e6e6e6;
    }

    .header-title-for-line {
        font-size:  18px;
        display:  inline-block;
        background-color:  #fff;
        padding:  0 30px;
        position:  relative;
        text-align: center;
        right: 50%;  left: 50%;
    }
    /** 
        <div  class="col-md-12 text-center">
            <h2 class="middle-title">Company Rtbs</h2>
        </div>
    **/
    .middle-title {
        text-align: center;
        position: relative;
        display: inline-block;
        font-weight: bold;
    }
    .middle-title::before{
        display: block;
        content: "";
        height: 3px;
        width: 70px;
        background-color: red;
        position: absolute;
        top: 17px;
        left: -100px;
    }
    .middle-title::after{
        display: block;
        content: "";
        height: 3px;
        width: 70px;
        background-color: red;
        position: absolute;
        top: 17px;
       right: -100px;
    }


.social-icons {
    list-style:  none;
    margin-bottom:  0px;
    padding: 0px;
}
.social-icons li {
    display:  inline-block;
    border-radius:  0px;
    height:  30px;
    width:  30px;
    text-align:  center;
}
.social-icons li a{color: #fff;  font-size:  25px;} 
.social-icons li a i  {
    padding:  0px;
    height:  25px;
    display:  block;
    font-size:  25px;
    color:  #fff;
    -webkit-transition:  all .2s ease-in-out;
    -moz-transition:  all .2s ease-in-out;
    -ms-transition:  all .2s ease-in-out;
    -o-transition:  all .2s ease-in-out;
    transition:  all .2s ease-in-out;
    height:  34px;
    line-height:  34px;
}
.ease-bg {
    transition:  background-color 0.7s ease;
}
.hoverzoom {
    overflow:  hidden;
}
.hoverzoom:hover img {
    -moz-transform:  scale(1.1);
    -webkit-transform:  scale(1.1);
    transform: scale(1.1) rotate(3deg);
}

.boxhoverzoom:hover  {
    -moz-transform:  scale(1.1);
    -webkit-transform:  scale(1.1);
    transform: scale(1.1) rotate(3deg);
}
.grayscale  {
    -webkit-filter:  grayscale(100%);
    filter:  grayscale(100%);
}
.grayscale:hover  {
    -webkit-filter:  grayscale(0%);
    filter:  grayscale(0%);
}
.box-shadow {
    box-shadow:  0px 1px 7px 0px rgba(0,  0,  0,  0.12);
    -webkit-box-shadow:  0px 1px 7px 0px rgba(0,  0,  0,  0.12);
    -moz-box-shadow:  0px 1px 7px 0px rgba(0,  0,  0,  0.12);
}
.hover-box-shadow:hover  {
    box-shadow:  0px 1px 7px 0px rgba(0,  0,  0,  0.12);
    -webkit-box-shadow:  0px 1px 7px 0px rgba(0,  0,  0,  0.12);
    -moz-box-shadow:  0px 1px 7px 0px rgba(0,  0,  0,  0.12);
}
.image-top-gray-cover {
    content:  " ";
    position:  absolute;
    top:  0;
    left:  0;
    right:  0;
    bottom:  0;
    background-color:  rgba(0, 0, 0, 0.036);
    background-image:  -moz-linear-gradient(top,  rgba(0, 0, 0, 0.06),  rgba(0, 0, 0, 0));
    background-image:  -webkit-gradient(linear,  0 0,  0 100%,  from(rgba(0, 0, 0, 0.06)),  to(rgba(0, 0, 0, 0)));
    background-image:  -webkit-linear-gradient(top,  rgba(0, 0, 0, 0.06),  rgba(0, 0, 0, 0));
    background-image:  -o-linear-gradient(top,  rgba(0, 0, 0, 0.06),  rgba(0, 0, 0, 0));
    background-image:  linear-gradient(to bottom,  rgba(0, 0, 0, 0.06),  rgba(0, 0, 0, 0));
    background-repeat:  repeat-x;
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0f000000',  endColorstr='#00000000',  GradientType=0);
    background-color:  rgba(0, 0, 0, 0);
}
.bottom-t-top-gray {
    top:  0px;
    bottom:  0px;
    right:  0px ;
    left:  0px;
    position:  absolute;
    background:  -webkit-linear-gradient(top,  rgba(0, 0, 0, 0.0),  rgba(0, 0, 0, 0.5));
    background:  -o-linear-gradient(bottom,  rgba(0, 0, 0, 0.0),  rgba(0, 0, 0, 0.5));
    background:  -moz-linear-gradient(bottom,  rgba(0, 0, 0, 0.0),  rgba(0, 0, 0, 0.5));
    background:  linear-gradient(to bottom,  rgba(0, 0, 0, 0.0),  rgba(0, 0, 0, 0.5));
}
.f5-bg {
    background-color:  #f5f5f5;
}
.f1-bg {
    background-color:  #f1f1f1;
}
.footer-bg {
    background-color:  #212121;
}
.dark5 {
    background-color:  rgba(0, 0, 0, 0.5);
}
.register-form {
    background-color:  #f5f5f5;
    padding:  15px;
}
.register-form input ,  .register-form select {
    outline:  none;
    width:  100%;
    border: none;
    height:  35px;
    padding-right:  5px;
}
.register-form .form-check-input {
    margin-left:  0px;
    width:  20px !important;
    height:  20px!important;
}
.to-contact .contacts  {
    margin-right:  20px;
}
.to-contact .social-icons  {
    margin-right:  20px;
    margin-top:  10px;
}
.contacts li {
    margin-bottom:  5px;
}
.contacts li span {
    padding-left:  10px;
}
.overlay {
    background-color:  rgba(0, 0, 0, 0.7);
    position:  absolute;
    height:  100%;
    width:  100%;
    bottom:  0px;
    right:  0px ;
    left:  0px ;
    top:  0px;
    text-align:  center;
    -moz-transition:  top 0.3s,  right 0.3s,  bottom 0.3s,  left 0.3s;
    -webkit-transition:  top 0.3s,  right 0.3s,  bottom 0.3s,  left 0.3s;
    transition:  top 0.3s,  right 0.3s,  bottom 0.3s,  left 0.3s;
}
.overlay i {
    margin-top:  70px;
    font-size:  40px;
}
.overlay.top  {
    top:  100%;
}
.overlay.right  {
    right:  100% }
.overlay.bottom  {
    bottom:  200%;
    top:  -100%;
}
.overlay.left  {
    left:  200%;
    right:  -100%;
}
article:hover .overlay.top  {
    top:  0;
}
article:hover .overlay.right  {
    right:  0;
    left:  0;
}
article:hover .overlay.bottom  {
    bottom:  0;
    top:  0;
}
article:hover .overlay.left  {
    left:  0;
    right:  0;
}
@media(max-width: 991px) {
    .navbar-collapse  {
    display:  none !important;
    display:  none !important;
    display:  none !important;
    display:  none !important;
    -webkit-flex-wrap:  nowrap !important;
    -ms-flex-wrap: nowrap !important;
    flex-wrap:  nowrap !important;
}
.navbar-collapse.show  {
    display:  block !important;
    display:  block !important;
    display:  block !important;
    display:  block !important;
    -webkit-flex-wrap:  nowrap !important;
    -ms-flex-wrap: nowrap !important;
    flex-wrap:  nowrap !important;
}
}